<p-menubar [model]="items">
    <div *ngIf="user; else notLogged">
        <a routerLink="/account">
            <button pButton pRipple type="button" label="Account" icon="pi pi-user"
                class="p-button-rounded p-button-secondary p-button-text"></button>
        </a>
        <a [appRoleAccess]="['admin', 'root']" routerLink="admin/workboard">
            <button *ngIf="user.role !== 'user'" pButton pRipple type="button" label="Worboard" icon="pi pi-lock"
                class="p-button-rounded p-button-text p-button-text"></button>
        </a>
        <button pButton pRipple type="button" label="Log out" icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text" (click)="logout()"></button>
    </div>

    <ng-template #notLogged>
        <button pButton pRipple style="margin-right: 10px;" label="Sign in" icon="pi pi-sign-in"
            routerLink='/users/login'></button>
        <button pButton pRipple label="Sign up" icon="pi pi-user-plus" routerLink='/users/register'></button>
    </ng-template>
</p-menubar>