<p-dataView [value]="posts" layout=grid [paginator]="true" [rows]="6">
  <ng-template let-post pTemplate="gridItem">
    <div style="padding:3px" class="ui-g-12 ui-md-3">
      <p-card header="{{ post.title | cut : 20 }}" subheader="by {{ post.user.firstName }} {{ post.user.lastName }}"
        [style]="{width: '360px'}" styleClass="p-card-shadow" [routerLink]="['/blog/post/', post.id]">
        <p-header>
          <img alt="Card" src="{{ post.imageUrl }}">
        </p-header>
        {{ post.text | cut : 40 | cutHtmlTags }}
      </p-card>
    </div>
  </ng-template>
</p-dataView>