<form [formGroup]="form" class="ui-g">
    <p-panel header="Resend confirmation link" class="ui-g-12">
        <div *ngIf="error" class="ui-g">{{error}}</div> 

        <div class="ui-g" style="margin-bottom: 15px;">
           <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
            <input pInputText id="email" formControlName="email" placeholder="Enter your email" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="form" field="email" nicename="email"></app-fielderrors>
            </div>
        </div>
        </div>

        <button pButton type="button" label="Send!" [disabled]="!form.valid" (click)="onSubmit()"></button>

    </p-panel>
    
</form>