<mat-toolbar>
  <mat-toolbar-row style="height:8px; background-color: #774627">
  </mat-toolbar-row>
    <mat-toolbar-row>
      <span>TravelCove</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="login icon">login</mat-icon><span>Login</span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="login icon">login</mat-icon><span>Register</span>
      <a routerLink="/blog"><mat-icon class="example-icon" aria-hidden="false" aria-label="create icon">create</mat-icon><span>Blog</span></a>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
