<form [formGroup]="createPostForm" class="ui-g">
    <p-panel>
        <p-header class="main">
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success" style="margin-right: 10px;"></button>
            <b>Create Post</b>
        </p-header>
        <div *ngIf="error" class="ui-g">{{error}}</div> 

        <div class="ui-g" style="padding-bottom: 15px">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input pInputText id="title" formControlName="title" placeholder="Enter your title" class="ui-g-12 ui-md-5"/>
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="createPostForm" field="title" nicename="title"></app-fielderrors>
                </div>  
            </div>
        </div>


        <div class="ui-g" style="padding-bottom: 15px">
            <p-editor id="text" formControlName="text" placeholder="Enter your text" [style]="{'height':'360px'}">
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="createPostForm" field="text" nicename="text"></app-fielderrors>
            </div>
        </p-editor>

        </div>

        <div class="ui-g" style="padding-bottom: 15px">
        <div class="p-inputgroup">
        <input #Image type="file" id="imageUrl" formControlName="imageUrl" accept="image/*" (change)="onChange($event)"> 
        <div class="ui-g-12 ui-md-5">
            <app-fielderrors [form]="createPostForm" field="imageUrl" nicename="imageUrl"></app-fielderrors>
        </div>
        </div>
        </div>
        <div class="ui-g" style="padding-bottom: 15px">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-table"></i></span>
            <p-dropdown id="category" formControlName="category" [options]="cities" optionLabel="name" value="1"></p-dropdown>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="createPostForm" field="category" nicename="category"></app-fielderrors>
            </div>
        </div>
    </div>

        <button pButton type="button" label="Add" [disabled]="!createPostForm.valid" (click)="onSubmit()"></button>

    </p-panel>
    
</form>
