<form [formGroup]="form" class="ui-g">
    <p-panel header="Type new Password" class="ui-g-12">
        <div class="ui-g">
            <label for="password" class="ui-g-12 ui-md-2">Password</label>
            <input pInputText id="password" formControlName="password" placeholder="Enter your password" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="form" field="password" nicename="password"></app-fielderrors>
            </div>
        </div>
        <button pButton type="button" label="Click" [disabled]="!form.valid" (click)="onSubmit()"></button>
    </p-panel>
    
</form>