<p-fieldset>
    <p-header class="main">
        <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-info p-button-outlined"
            style="margin-right: 10px;"></button>
        Workboard
    </p-header>
    <ul>
        <li><button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success"
                style="margin-right: 10px;"></button>
            <a routerLink="/admin/create-post">Add post</a>
        </li>
        <li><button pButton pRipple type="button" icon="pi pi-table" class="p-button-rounded p-button-info"
                style="margin-right: 10px;"></button>
            <a routerLink="/admin/create-category">Add category</a>
        </li>

        <a appRoleAccess="['root']" routerLink="admin/workboard">
            <li><button pButton pRipple type="button" icon="pi pi-users" class="p-button-rounded p-button-help"
                    style="margin-right: 10px;"></button>
                Manage Users
            </li>
        </a>
    </ul>
</p-fieldset>