<form [formGroup]="phoneForm" class="ui-g" style="margin-bottom: 20px;">
    <p-panel header="Reset password by phone" class="ui-g-12">
        <div *ngIf="error" class="ui-g">{{error}}</div>

        <div class="ui-g" style="margin-bottom: 15px;">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Enter your phone number"
                    class="ui-g-12 ui-md-5">
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="phoneForm" field="phoneNumber" nicename="phoneNumber"></app-fielderrors>
                </div>
            </div>
        </div>
        <button pButton type="button" label="Send sms!" [disabled]="!phoneForm.valid" (click)="onPhoneFormSubmit()"
            style="margin-bottom: 15px;"></button>

        <div>
            <a routerLink="/users/reset-password/code">
                <button pButton pRipple type="button" label="Type confirmation code" icon="pi pi-pencil"
                    class="p-button-rounded p-button-secondary p-button-text"></button>
            </a>
        </div>
    </p-panel>
</form>