<form [formGroup]="registerForm" class="ui-g">
    <p-panel header="Log in" class="ui-g-12">
        <div *ngIf="error" class="ui-g">{{error}}</div> 
        <div class="ui-g">
            <label for="email" class="ui-g-12 ui-md-2">E-mail</label>
            <input pInputText id="email" formControlName="email" placeholder="Enter your email" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="registerForm" field="email" nicename="email"></app-fielderrors>
            </div>
        </div>
        <div class="ui-g">
            <label for="password" class="ui-g-12 ui-md-2">Password</label>
            <input pInputText id="password" formControlName="password" placeholder="Enter your password" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="registerForm" field="password" nicename="password"></app-fielderrors>
            </div>
        </div>
        <div class="ui-g">
            <label for="firstName" class="ui-g-12 ui-md-2">First Name</label>
            <input pInputText id="firstName" formControlName="firstName" placeholder="Enter your first name" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="registerForm" field="firstName" nicename="firstName"></app-fielderrors>
            </div>
        </div>
        <div class="ui-g">
            <label for="lastName" class="ui-g-12 ui-md-2">Last Name</label>
            <input pInputText id="lastName" formControlName="lastName" placeholder="Enter your first name" class="ui-g-12 ui-md-5"/>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="registerForm" field="lastName" nicename="lastName"></app-fielderrors>
            </div>
        </div>
        <div class="ui-g">
            <label for="phoneNumber" class="ui-g-12 ui-md-2">Phone Number</label>
            <p-inputMask pInputMask id="phoneNumber" formControlName="phoneNumber" mask="+99999999999" placeholder="+99999999999"></p-inputMask>
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="registerForm" field="phoneNumber" nicename="phoneNumber"></app-fielderrors>
            </div>
        </div>


        <button pButton type="button" label="Click" [disabled]="!registerForm.valid" (click)="onSubmit()"></button>
    </p-panel>
    
</form>