<form [formGroup]="registerForm" class="ui-g">
    <p-panel header="Register" class="ui-g-12">

        <div *ngIf="error" class="ui-g">{{error}}</div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
                <input pInputText id="email" formControlName="email" placeholder="Enter your email"
                    class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="registerForm" field="email" nicename="email"></app-fielderrors>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input pInputText id="password" formControlName="password" type="password"
                    placeholder="Enter your password" class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="registerForm" field="password" nicename="password"></app-fielderrors>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user-minus"></i></span>
                <input pInputText id="firstName" formControlName="firstName" placeholder="Enter your first name"
                    class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="registerForm" field="firstName" nicename="firstName"></app-fielderrors>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user-plus"></i></span>
                <input pInputText id="lastName" formControlName="lastName" placeholder="Enter your last name"
                    class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="registerForm" field="lastName" nicename="lastName"></app-fielderrors>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Enter your phone number"
                    class="ui-g-12 ui-md-5">
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="registerForm" field="phoneNumber" nicename="phoneNumber"></app-fielderrors>
                </div>
            </div>
        </div>

        <button pButton type="button" label="Register" [disabled]="!registerForm.valid" (click)="onSubmit()"></button>
    </p-panel>
</form>