<form [formGroup]="editCategoryForm" class="ui-g">
    <p-panel>
        <p-header class="main">
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success" style="margin-right: 10px;"></button>
            <b>Edit Category</b>
        </p-header>
        <div *ngIf="error" class="ui-g">{{error}}</div> 

        <div class="ui-g" style="padding-bottom: 15px">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                <input pInputText id="name" formControlName="name" placeholder="Enter your name" class="ui-g-12 ui-md-5"/>
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="editCategoryForm" field="name" nicename="name"></app-fielderrors>
                </div>  
            </div>
        </div>



        <button pButton type="button" label="Click" [disabled]="!editCategoryForm.valid" (click)="onSubmit()"></button>

    </p-panel>
    
</form>
