      <div class="p-grid">
          <div class="p-col" *ngFor="let post of posts | async">
            <p-card 
            header="{{ post.title }}" 
            subheader="by {{ post.user.firstName }} {{ post.user.lastName }}" 
            [style]="{width: '360px'}" 
            styleClass="p-card-shadow"
          >
            <p-header>
                <img alt="Card" src="https://www.primefaces.org/primeng/showcase/assets/showcase/images/usercard.png">
            </p-header>
            <p>{{ post.text }}</p>
          </p-card>
          </div>
      </div>
