<form [formGroup]="form" class="ui-g">
    <p-panel header="Edit Account" class="ui-g-12">

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user-minus"></i></span>
                <input pInputText id="firstName" formControlName="firstName" placeholder="Enter your first name"
                    class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="form" field="firstName" nicename="firstName"></app-fielderrors>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user-plus"></i></span>
                <input pInputText id="lastName" formControlName="lastName" placeholder="Enter your last name"
                    class="ui-g-12 ui-md-5" />
                <div class="ui-g-12 ui-md-5">
                    <app-fielderrors [form]="form" field="lastName" nicename="lastName"></app-fielderrors>
                </div>
            </div>
        </div>

        <button pButton type="button" label="Edit" [disabled]="!form.valid" (click)="onSubmit()"></button>
    </p-panel>
</form>