<form [formGroup]="codeForm" class="ui-g">
    <p-panel header="Confirmation Code" class="ui-g-12">
        <p-progressSpinner *ngIf="loading == Loading.true"[style]="{width: '10rem', height: '10rem'}" strokeWidth="3" animationDuration=".5s"></p-progressSpinner>
        <div *ngIf="error" class="ui-g">{{error}}</div> 
        <div class="ui-g" style="margin-bottom: 15px;">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Enter your phone number" class="ui-g-12 ui-md-5">
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="codeForm" field="phoneNumber" nicename="phoneNumber"></app-fielderrors>
            </div>
        </div>
        </div>

        <div class="ui-g" style="margin-bottom: 15px;">
           <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input pInputText id="code" formControlName="code" placeholder="Enter your code" class="ui-g-12 ui-md-5">
            <div class="ui-g-12 ui-md-5">
                <app-fielderrors [form]="codeForm" field="code" nicename="code"></app-fielderrors>
            </div>
        </div>
        </div>
       
        <button pButton type="button" label="Reset password" [disabled]="!codeForm.valid" (click)="onConfirmSubmit()"></button>

    </p-panel>
    
</form>